<% if !@user.errors.messages[:groups].empty? %>
   <% @user.errors.messages[:groups].each do |message| %>
        <div class="alert alert-danger" role="alert"><%=message%></div>
   <% end %>
<% end %>

<%= simple_form_for @user do |f|%>
    <%= f.select :groups, Group.available_groups(@user).map { |group| [group.name, group.id] } %>
    <%= f.button :submit %>
<% end %>